* {
    /* border: 1px red solid; */
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    background: #F6F1E7;
    color: #1b1e23;
}

/* header selectors */
header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #988E92;
}

.button, 
.timer, 
.score, 
.current-score{
    font-size: 2rem;
}

/* main selectors */

main {
    margin: 0 auto;
    max-width: 700px;
    display: block;
}

/* card selectors */
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    margin: 0 auto;
}

.start-btn {
    text-align: center;
    font-size: 5rem;
    display: block;
}

button {
    cursor: pointer;
    padding: 5px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
}

li {
    margin: 5px 0;
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    background: #D0DEE5;
}

h2 {
    margin: 10px 0;
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 5px;
    background: #E89394;
}

h3 {
    font-size: 2rem;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

#correct {
    background: #5aa17f;
}

#incorrect {
    background: #f26350;
}