* {
    /* border: 1px red solid; */
    margin: 0;
    padding: 0;
    font-size: 12px;
    user-select: none;
    font-family: Georgia, 'Times New Roman', Times, serif
}

body {
    background: #F6F1E7;
    color: #1b1e23;
}

/* header selectors */
header {
    display: flex;
    padding: 20px;
    background: #988E92;
}

.button,
.timer,
.score,
.current-score,
.play {
    font-size: 2rem;
}

.button, 
.timer, 
.score,
.play {
    margin: 10px;
    padding: auto;
}

.timer {
    display: none;
}

.score {
    display: none;
}

.button {
    cursor: pointer;
}

.play {
    cursor: pointer;
    display: none;
}

/* main selectors */

main {
    margin: 0 auto;
    max-width: 700px;
    display: block;
}

/* card selectors */

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    margin: 0 auto;
}

/* start button selectors */

.start-btn {
    text-align: center;
    font-size: 5rem;
    display: block;
}

.start-btn button {
    cursor: pointer;
    padding: 5px;
}

/* question selectors */

.question {
    display: none;
}

#question-title {
    margin: 10px 0;
    font-size: 2.5rem;
    padding: 20px;
    border-radius: 5px;
    background: #E89394;
}

.question ul {
    list-style-type: none;
}

.question li {
    margin: 15px 0;
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    background: #D0DEE5;
    cursor: pointer;
    text-align: center;
}

.question li:hover {
    box-shadow: 1px 1px 10px grey;
}

h3 {
    font-size: 2rem;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: none;
}

#correct {
    background: #5aa17f;
}

#incorrect {
    background: #f26350;
}

/* high score selectors */

.highscores {
    display: none;
}

.highscores ul {
    list-style-type: none;
}

.highscores ul li {
    margin: 15px 0;
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    background: #D0DEE5;
    cursor: pointer;
    text-align: center;
}

#high-score-title {
    font-size: 3rem;
    text-align: center;
}

/* form selectors */

.form {
    text-align: center;
    display: none;
}

#form-title {
    font-size: 3rem;
    margin: 10px;
}

#instructions {
    font-size: 1.5rem;
    margin: 10px;
}

#name{
    background: #F6F1E7;
    font-size: 2rem;
    border: none;
    border-bottom: 3px #988E92 solid;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

#name:focus {
    outline: none;
}

#submit {
    font-size: 2rem;
    background: none;
    border: none;
    margin: 5px;
    padding: 5px;
}